<a href="/directors/">Directors</a>
<a href="/actors/">Actors</a>
<a href="/movies/">Movies</a>

<h1>Add a New Actor</h1>

<form action="http://localhost:3000/create_actor">
  <label>Name</label>
  <input type="text" name="name" id="Name">

  <label>Image URL</label>
  <input type="text"name="image_url" id="Image URL">

  <label>Birthday</label>
  <input type="text" name="dob" id="DOB">

  <label>Biography</label>
  <input type"text" name="bio" id="Bio">

  <button>Add New Actor</button>
</form>
